ESFViewer/static/esfviewer/files/JednostkaMikroWZlotych(1)_v1-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:etd="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2016/01/25/eD/DefinicjeTypy/" xmlns:dtsf="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/DefinicjeTypySprawozdaniaFinansowe/" xmlns:jmi="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMikroStruktury" xmlns:jma="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMalaStruktury" xmlns:jin="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaInnaStruktury" xmlns:tns="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMikroWZlotych" targetNamespace="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMikroWZlotych" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xml:lang="pl">
	<xsd:import namespace="http://crd.gov.pl/xml/schematy/dziedzinowe/mf/2016/01/25/eD/DefinicjeTypy/" schemaLocation="StrukturyDanych_v4-0E.xsd"/>
	<xsd:import namespace="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/DefinicjeTypySprawozdaniaFinansowe/" schemaLocation="StrukturyDanychSprFin_v1-2.xsd"/>
	<xsd:import namespace="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMikroStruktury" schemaLocation="JednostkaMikroStrukturyDanychSprFin_v1-2.xsd"/>
	<xsd:import namespace="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaMalaStruktury" schemaLocation="JednostkaMalaStrukturyDanychSprFin_v1-2.xsd"/>
	<xsd:import namespace="http://www.mf.gov.pl/schematy/SF/DefinicjeTypySprawozdaniaFinansowe/2018/07/09/JednostkaInnaStruktury" schemaLocation="JednostkaInnaStrukturyDanychSprFin_v1-2.xsd"/>
	<xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xsd:element name="JednostkaMikro">
		<xsd:annotation>
			<xsd:documentation>ZAKRES INFORMACJI WYKAZYWANYCH W SPRAWOZDANIU FINANSOWYM, O KTÓRYM MOWA W ART. 45 USTAWY, DLA JEDNOSTEK MIKRO</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Naglowek" type="jmi:TNaglowekSprawozdaniaFinansowegoJednostkaMikroWZlotych">
					<xsd:annotation>
						<xsd:documentation>Nagłówek sprawozdania finansowego</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="InformacjeOgolneJednostkaMikro">
						<xsd:annotation>
							<xsd:documentation>Informacje ogólne zgodnie z Załącznikiem Nr 4 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="P_1">
									<xsd:annotation>
										<xsd:documentation>Dane identyfikujące jednostkę</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_1A" type="dtsf:TNazwaSiedziba">
												<xsd:annotation>
													<xsd:documentation>Nazwa i siedziba</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1B" type="dtsf:TAdresZOpcZagranicznym">
												<xsd:annotation>
													<xsd:documentation>Adres</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1C" type="etd:TNrNIP">
												<xsd:annotation>
													<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1D" type="etd:TNrKRS" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Numer KRS. Pole obowiązkowe dla jednostek wpisanych do Krajowego Rejestru Sądowego.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_2" type="dtsf:TZakresDatOpcjonalnych" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Czas trwania działalności jednostki, jeżeli jest ograniczony</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_3" type="dtsf:TZakresDatSF">
									<xsd:annotation>
										<xsd:documentation>Wskazanie okresu objętego sprawozdaniem finansowym</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_4" type="etd:TTekstowy">
									<xsd:annotation>
										<xsd:documentation>Wskazanie zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_5">
									<xsd:annotation>
										<xsd:documentation>Założenie kontynuacji działalnności</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_5A" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy sprawozdanie finansowe zostało sporządzone przy założeniu kontynuowania działalności gospodarczej przez jednostkę w dającej się przewidzieć przyszłości: true - sprawozdanie sporządzone przy założeniu kontynuowania działalności, false - sprawozdanie zostało sporzadzone przy zalożeniu, że działalność nie będzie kontynuowana</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5B" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy nie istnieją okoliczności wskazujące na zagrożenie kontynuowania przez nią działalności: true - Brak okoliczności wskazujących na zagrożenie kontynuowania działalności; false - Wystąpiły okoliczności wskazujące na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5C" type="etd:TTekstowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Opis okoliczności wskazujących na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_6">
									<xsd:annotation>
										<xsd:documentation>Zasady (polityka) rachunkowości. Omówienie przyjętych zasad (polityki) rachunkowości, w zakresie w jakim ustawa pozostawia jednostce prawo wyboru, w tym:</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_6A" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>metod wyceny aktywów i pasywów (także amortyzacji),</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6B" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia wyniku finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6C" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia sposobu sporządzenia sprawozdania finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6D" type="etd:TTekstowy" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>pozostałe</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_7" type="dtsf:TPozycjaUzytkownika" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Informacja uszczegóławiająca, wynikająca z potrzeb lub specyfiki jednostki</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="WprowadzenieDoSprawozdaniaFinansowegoJednostkaInna">
						<xsd:annotation>
							<xsd:documentation>Wprowadzenie do sprawozdania finansowego zgodnie z Załącznikiem Nr 1 do ustawy o rachunkowości ze wskazaniem zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="P_1">
									<xsd:annotation>
										<xsd:documentation>Dane identyfikujące jednostkę</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_1A" type="dtsf:TNazwaSiedziba">
												<xsd:annotation>
													<xsd:documentation>Firma, siedziba albo miejsce zamieszkania</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1B" type="dtsf:TAdresZOpcZagranicznym">
												<xsd:annotation>
													<xsd:documentation>Adres</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1C" type="dtsf:PKDPodstawowaDzialalnosc">
												<xsd:annotation>
													<xsd:documentation>Podstawowy przedmiot działalności jednostki</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1D" type="etd:TNrNIP">
												<xsd:annotation>
													<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1E" type="etd:TNrKRS" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Numer KRS. Pole obowiązkowe dla jednostek wpisanych do Krajowego Rejestru Sądowego.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_2" type="dtsf:TZakresDatOpcjonalnych" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Czas trwania działalności jednostki, jeżeli jest ograniczony</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_3" type="dtsf:TZakresDatSF">
									<xsd:annotation>
										<xsd:documentation>Wskazanie okresu objętego sprawozdaniem finansowym</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_4" type="xsd:boolean">
									<xsd:annotation>
										<xsd:documentation>Wskazanie, że sprawozdanie finansowe zawiera dane łączne, jeżeli w skład jednostki wchodzą wewnętrzne jednostki organizacyjne sporządzające samodzielne sprawozdania finansowe: true - sprawozdanie finansowe zawiera dane łącznie; false - sprawozdanie nie zawiera danych łącznych </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_5">
									<xsd:annotation>
										<xsd:documentation>Założenie kontynuacji działalnności</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_5A" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy sprawozdanie finansowe zostało sporządzone przy założeniu kontynuowania działalności gospodarczej przez jednostkę w dającej się przewidzieć przyszłości</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5B" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy nie istnieją okoliczności wskazujące na zagrożenie kontynuowania przez nią działalności: true - Brak okoliczności wskazujących na zagrożenie kontynuowania działalności; false - Wystąpiły okoliczności wskazujące na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5C" type="etd:TTekstowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Opis okoliczności wskazujących na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_6" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Informacja czy sprawozdanie finansowe jest sporządzone po połączeniu spółek</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_6A" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>W przypadku sprawozdania finansowego sporządzonego za okres, w ciągu którego nastąpiło połączenie, wskazanie,
że jest to sprawozdanie finansowe sporządzone po połączeniu spółek: true - sprawozdanie sporządzone po połączeniu spółek; false - sprawozdanie sporządzone przed połączeniem </xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6B" type="etd:TTekstowy">
												<xsd:annotation>
													<xsd:documentation>Wskazanie zastosowanej metody rozliczenia połączenia (nabycia, łączenia udziałów)</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_7">
									<xsd:annotation>
										<xsd:documentation>Zasady (polityka) rachunkowości. Omówienie przyjętych zasad (polityki) rachunkowości, w zakresie w jakim ustawa pozostawia jednostce prawo wyboru, w tym:</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_7A" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>metod wyceny aktywów i pasywów (także amortyzacji),</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_7B" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia wyniku finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_7C" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia sposobu sporządzenia sprawozdania finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_7D" type="etd:TTekstowy" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>pozostałe</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_8" type="dtsf:TPozycjaUzytkownika" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Informacja uszczegóławiająca, wynikająca z potrzeb lub specyfiki jednostki</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_9" type="etd:TTekstowy">
									<xsd:annotation>
										<xsd:documentation>Wskazanie zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="WprowadzenieDoSprawozdaniaFinansowegoJednostkaMala">
						<xsd:annotation>
							<xsd:documentation>Wprowadzenie do sprawozdania finansowego zgodnie z Załącznikiem Nr 5 do ustawy o rachunkowości ze wskazaniem zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="P_1">
									<xsd:annotation>
										<xsd:documentation>Dane identyfikujące jednostkę</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_1A" type="dtsf:TNazwaSiedziba">
												<xsd:annotation>
													<xsd:documentation>Firma, siedziba albo miejsce zamieszkania</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1B" type="dtsf:TAdresZOpcZagranicznym">
												<xsd:annotation>
													<xsd:documentation>Adres</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1C" type="etd:TNrNIP">
												<xsd:annotation>
													<xsd:documentation>Identyfikator podatkowy NIP</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_1D" type="etd:TNrKRS" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Numer KRS. Pole obowiązkowe dla jednostek wpisanych do Krajowego Rejestru Sądowego.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_2" type="dtsf:TZakresDatOpcjonalnych" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Czas trwania działalności jednostki, jeżeli jest ograniczony</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_3" type="dtsf:TZakresDatSF">
									<xsd:annotation>
										<xsd:documentation>Wskazanie okresu objętego sprawozdaniem finansowym</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_4" type="etd:TTekstowy">
									<xsd:annotation>
										<xsd:documentation>Wskazanie zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="P_5">
									<xsd:annotation>
										<xsd:documentation>Założenie kontynuacji działalnności</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_5A" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy sprawozdanie finansowe zostało sporządzone przy założeniu kontynuowania działalności gospodarczej przez jednostkę w dającej się przewidzieć przyszłości: true - sprawozdanie sporządzone przy założeniu kontynuowania działalności, false - sprawozdanie zostało sporzadzone przy zalożeniu, że działalność nie będzie kontynuowana</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5B" type="xsd:boolean">
												<xsd:annotation>
													<xsd:documentation>Wskazanie, czy nie istnieją okoliczności wskazujące na zagrożenie kontynuowania przez nią działalności: true - Brak okoliczności wskazujących na zagrożenie kontynuowania działalności; false - Wystąpiły okoliczności wskazujące na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_5C" type="etd:TTekstowy" minOccurs="0">
												<xsd:annotation>
													<xsd:documentation>Opis okoliczności wskazujących na zagrożenie kontynuowania działalności</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_6">
									<xsd:annotation>
										<xsd:documentation>Zasady (polityka) rachunkowości. Omówienie przyjętych zasad (polityki) rachunkowości, w zakresie w jakim ustawa pozostawia jednostce prawo wyboru, w tym:</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="P_6A" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>metod wyceny aktywów i pasywów (także amortyzacji),</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6B" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia wyniku finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6C" type="etd:TTekstowy" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>ustalenia sposobu sporządzenia sprawozdania finansowego</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="P_6D" type="etd:TTekstowy" minOccurs="0" maxOccurs="unbounded">
												<xsd:annotation>
													<xsd:documentation>pozostałe</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element name="P_7" type="dtsf:TPozycjaUzytkownika" minOccurs="0" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Informacja uszczegóławiająca, wynikająca z potrzeb lub specyfiki jednostki</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:choice>
					<xsd:element name="BilansJednostkaMikro" type="jmi:BilansJednostkaMikro">
						<xsd:annotation>
							<xsd:documentation>Bilans zgodnie z Załącznikiem Nr 4 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BilansJednostkaInna" type="jin:BilansJednostkaInna">
						<xsd:annotation>
							<xsd:documentation>Bilans zgodnie z Załącznikiem Nr 1 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BilansJednostkaMala" type="jma:BilansJednostkaMala">
						<xsd:annotation>
							<xsd:documentation>Bilans zgodnie z Załącznikiem Nr 5 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:choice>
					<xsd:element name="RZiSJednostkaMikro" type="jmi:RZiSJednostkaMikro">
						<xsd:annotation>
							<xsd:documentation>Rachunek zysków i strat zgodnie z Załącznikiem Nr 4 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RZiSJednostkaInna" type="jin:RZiSJednostkaInna">
						<xsd:annotation>
							<xsd:documentation>Rachunek zysków i strat zgodnie z Załącznikiem Nr 1 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RZiSJednostkaMala" type="jma:RZiSJednostkaMala">
						<xsd:annotation>
							<xsd:documentation>Rachunek zysków i strat zgodnie z Załącznikiem Nr 5 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
				<xsd:element name="ZestZmianWKapitaleJednostkaInna" type="jin:ZestZmianWKapitaleJednostkaInna" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Zestawienie zmian w kapitale (funduszu) własnym</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="RachPrzeplywowJednostkaInna" type="jin:RachPrzeplywowJednostkaInna" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Rachunek przepływów pieniężnych</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="InformacjeUzupelniajaceDoBilansuJednostkaMikro">
						<xsd:annotation>
							<xsd:documentation>Informacje uzupełniające do bilansu zgodnie z Załącznikiem Nr 4 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="InformacjeUzupelniajaceDoBilansu" type="dtsf:TInformacjaDodatkowa" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Informacje uzupełniające do bilansu</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="InformacjaDodatkowaDotyczacaPodatkuDochodowego" type="dtsf:TInformacjaDodatkowaDotyczacaPodatkuDochodowego" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Rozliczenie różnicy pomiędzy podstawą opodatkowania podatkiem dochodowym a wynikiem finansowym (zyskiem, stratą) brutto. Wypełniają wyłącznie jednostki zobowiązane.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DodatkoweInformacjeIObjasnieniaJednostkaInna">
						<xsd:annotation>
							<xsd:documentation>Dodatkowe informacje i objaśnienia zgodnie z Załącznikiem Nr 1 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DodatkoweInformacjeIObjasnienia" type="dtsf:TInformacjaDodatkowa" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Dodatkowe informacje i objaśnienia</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="InformacjaDodatkowaDotyczacaPodatkuDochodowego" type="dtsf:TInformacjaDodatkowaDotyczacaPodatkuDochodowego" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Rozliczenie różnicy pomiędzy podstawą opodatkowania podatkiem dochodowym a wynikiem finansowym (zyskiem, stratą) brutto. Wypełniają wyłącznie jednostki zobowiązane.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="DodatkoweInformacjeIObjasnieniaJednostkaMala">
						<xsd:annotation>
							<xsd:documentation>Dodatkowe informacje i objaśnienia zgodnie z Załącznikiem Nr 5 do ustawy o rachunkowości</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="DodatkoweInformacjeIObjasnienia" type="dtsf:TInformacjaDodatkowa" maxOccurs="unbounded">
									<xsd:annotation>
										<xsd:documentation>Dodatkowe informacje i objaśnienia</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="InformacjaDodatkowaDotyczacaPodatkuDochodowego" type="dtsf:TInformacjaDodatkowaDotyczacaPodatkuDochodowego" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>Rozliczenie różnicy pomiędzy podstawą opodatkowania podatkiem dochodowym a wynikiem finansowym (zyskiem, stratą) brutto. Wypełniają wyłącznie jednostki zobowiązane.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			<xsd:element ref="ds:Signature" minOccurs="0" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
